.about-us {
  outline: 1px solid pink;
  }

.about-us {
  h2 {
    font-family: OpenSans Bold;
    color: #00000;
    font-size: 25px;
    line-height: 30px;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__item {
  font-family: OpenSans Bold;
  font-size: 17px;
  color: #00000;
}
