.catalog {
  outline: 1px solid pink;
  min-height: 1444px;
}

.catalog {
  font-family: @font-family-common;
  font-weight: bold;
  color: #000000;

  h1 {
    background-color: @bg-title;

    font-size: 27px;
    line-height: 30px;
  }
}

.catalog__product-info {
  border: 1px solid #ececec;

  a {
    display: block;

    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
  }
}

.catalog__product-text {
  font-family: OpenSans;
  color: @font-color-dark;
  font-size: 13px;
  line-height: 30px;
}

.catalog__price {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  border-top: 1px solid #ececec;
}

@media @tablet-widths {
  .catalog {
    min-height: 1467px;
  }
}

@media @desktop-widths {
  .catalog {
    min-height: 1100px;
  }
}
