.main-nav {
  outline: 1px solid pink;
}

.main-nav {
  background-color: @bg-white;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  a {
    display: block;

    text-decoration: none;
    font-size: 17px;
    line-height: 24px;
    font-family: OpenSans Bold;
    color: @font-color-common;

    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.main-nav--closed {
  display: none;
}
