.main-page-nav {
  outline: 1px solid pink;
}

.main-page-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-page-nav__item {
   a {
     display: block;

     font-size: 19px;
     line-height: 24px;
     font-family: OpenSans Bold;
     color: @font-color-light;
     text-decoration: none;

     padding-top: 30px;
     padding-bottom: 30px;
  }
}

.main-page-nav__item:first-child {
  background-color: #63d1bb;
}

.main-page-nav__item:nth-child(2) {
  background-color: #56c3b2;
}
